extends layout
block content
  section
    .container
    
      h1.script Merry Christmas!

      .logo.
        <svg width="425" height="402" viewBox="0 0 425 402" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path d="M214.467 50.004L290.324 1.14l62.08 36.11-77.02 48.03-60.917-35.276z" fill="#1D2A7C"/>
            <path d="M.48 235.313V159.4l74.25 43.884v70.892L.48 235.313z" fill="#1D2A7C"/>
            <path d="M72.787 364.363l73.145-47.73 72.016 41.56-72.016 43.555-73.145-37.385z" fill="#1D2A7C"/>
            <path d="M217.16 358.37v-75.168l66.544 41.66v71.167l-66.545-37.66z" fill="#1D2A7C"/>
            <path d="M283.294 396V324.72l70.282-42.634v77.127L283.294 396z" fill="#00AEEF"/>
            <path d="M282.577 162.834l-11.98-75.05 82.238-50.828v84.297l-70.258 41.58z" fill="#00AEEF"/>
            <path d="M216.838 283.402l139.13-85.663 68.598 42.63-146.093 87.295-61.635-44.263z" fill="#1D2A7C"/>
            <path d="M217.45 199.293l134.91-77.77 55.807 45.433L217.45 283.692v-84.4z" fill="#1D4CA1"/>
            <path d="M352.14 200.886v-79.66l72.18 39.68v79.95l-72.18-39.97z" fill="#00AEEF"/>
            <path d="M68.057 121.382l77.246-42.378L281.9 162.48l-68.245 39.43L68.057 121.38z" fill="#1D2A7C"/>
            <path d="M145.303 79.573V.85L345 126.05l-63.16 36.39-136.537-82.87z" fill="#00AEEF"/>
            <path d="M145.303 316.785v-157.63l72.54 40.754v159.033l-72.54-42.158z" fill="#00AEEF"/>
            <path d="M74.037 203.088l-.696-85.272-73.093 41.42 6.49 4.196 67.3 39.656z" fill="#1D4CA1"/>
            <path d="M72.763 45.058L145.52.588V84.94l-72.757 44.62V45.057z" fill="#1D2A7C"/>
            <path d="M72.763 364.574V118.196l72.54 41.04V317.13l-72.54 47.444z" fill="#1D4CA1"/>
          </g>
        </svg>

      .bobbles
        .left
          img(src='/images/kevin.png')
        .right
          img(src='/images/nate.png')
